@font-face {
    font-family : 'Product Sans';
    src         : url(/fonts/Product\ Sans\ Regular.ttf) format('truetype');
    font-style  : normal;
    font-weight : normal;
    font-display: swap;
  }

body {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: 'Product Sans';
    vertical-align: baseline;
    color: #838383;
}

button {
    color: #838383;
}

p, ul {
    margin: 0;
}

li, a {
    list-style-type: none;
    text-decoration: none;
}

.arrow-smiledu {
    transform: rotateX(180deg);
    width: 10px;
    margin-left: 5px;
    transition: .3s all;
    filter: invert(59%) sepia(2%) saturate(29%) hue-rotate(360deg) brightness(87%) contrast(88%);
    margin-left: auto;
    cursor: pointer;
}

.arrow-selected.showMenu {
    transform: rotateX(0deg);
    filter: grayscale(0%);
}

.smiledu-page {
    display: flex;
    flex: 1 1 0;
    min-height: 1px;
}

.smiledu-sidebar {
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    width: 320px;
    background: white;
    top: 0;
    left: 0;
    height: 100vh;
    position: sticky;
    z-index: 100;
}

.sidebar-all {
    padding: 15px 10px 15px 8px;
    border-bottom: 1px solid #dadada;
}

.tool-selected {
    color: #fed600;
}

.smiledu-sidebar_header {
    align-items: center;
    display: flex;
    height: 40px;
    justify-content: flex-start;
    padding-left: 20px;
}

.smiledu-sidebar_header_menu-btn {
    background-image: url(/img/menu.svg);
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 40px;
    cursor: pointer;
}

.smiledu-sidebar_header_logo {
    width: 100px;
}

.smiledu-sidebar_user {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    padding: 20px 16px;
}

.smiledu-sidebar_user_avatar {
    height: 38px;
    position: relative;
    margin-right: 15px;
    
}

.smiledu-sidebar_user_avatar img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.smiledu-sidebar_user_avatar div {
    background-image: url(/img/icons/corona.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    left: -8px;
    top: -3px;
    width: 1.25em;
    height: 1.25em;
}

.smiledu-sidebar_user_name-role {
    display: flex;
    flex-direction: column;
    
}

.smiledu-sidebar_user_name-role_title {
    font-size: 15px;
    display: flex;
    white-space: nowrap;
}

.smiledu-sidebar_user_name-role_subtitle {
    font-size: 13px;
}

.smiledu-sidebar_all-tools button {
    display: flex;
    align-items: center;
    padding: 10px 10px;
    width: 100%;
    border: none;
    background: white;
    cursor: pointer;
    border-radius: 20px;
    background-position: center;
    transition: background 0.8s;
}

.smiledu-sidebar_all-tools button:hover {
    background: #f5f5f5 radial-gradient(circle, transparent 1%, #f5f5f5 1%) center/15000%;
    color: #fcdc27;
    border-radius: 20px;
}

.smiledu-sidebar_all-tools button:active {
    background-color: #dddddd;
    background-size: 100%;
    transition: background 0s;
}

.smiledu-sidebar_all-tools_icon {
    width: 24px;
    margin-right: 27px;
    filter: invert(59%) sepia(2%) saturate(29%) hue-rotate(360deg) brightness(87%) contrast(88%);
}

.smiledu-sidebar_all-tools button:hover .smiledu-sidebar_all-tools_icon {
    filter: grayscale(0);
}

.btn-matricula.showMenu {
    background-color: #f5f5f5;
    color: #fcdc27;
    font-weight: 600;
}

.btn-matricula.showMenu .smiledu-sidebar_all-tools_icon {
    filter: grayscale(0);
}

.sub-menu{
    margin-left: 11px;
    overflow: hidden;
    height: 0;
    transition: all 0.25s ease;
}

.sub-menu.showMenu {
    height: 80px;
}

.smiledu-sidebar {
    transition: all 0.25s ease;
}

.smiledu-sidebar.close {
    width: 73px;
}

.smiledu-sidebar.close .smiledu-sidebar_user .smiledu-sidebar_user_name-role,
.smiledu-sidebar.close .smiledu-sidebar_user_name-role_title, 
.smiledu-sidebar.close .arrow-smiledu {
    transition-delay: 0.25s;
    display: none;
    pointer-events: none;
    
}

.smiledu-sidebar.close .smiledu-sidebar_header a .smiledu-sidebar_header_logo {
    transition-delay: 0.25s;
    display: none;
    pointer-events: none;
}

.smiledu-sidebar.close .smiledu-sidebar_header_menu-btn {
    transition-delay: 0.25s;
    margin-right: 0px;
}


.smiledu-sidebar .smiledu-sidebar_header_logo,
.smiledu-sidebar .smiledu-sidebar_user_name-role,
.smiledu-sidebar .smiledu-sidebar_user_name-role_title,
.smiledu-sidebar .arrow-smiledu {    
    transition: all 0.15s ease;
}

.smiledu-main {
    display: flex;
    flex: 1;
    flex-direction: column;
    min-width: 920px;
    position: relative;
    background: #f4f7f8;
    min-height: 100vh;
}

.smiledu-main_header {
    height: 130px;
    background: #fcdc27;
    color: white;
    padding: 20px;
}

.smiledu-main_body {
    display: flex;
    height: 100%;
    justify-content: space-between;
}

.smiledu-main_body_search-tools {
    width: 19%;
    padding: 25px;
}

.search-students {
    display: flex;
    justify-content: space-between;
}

.input_search {
    display: flex;
    align-items: center;
    border-bottom: 1px solid;
    padding-bottom: 8px;
    width: 75%;
}

.input_search img {
    width: 20px;
    height: 20px;
    margin-right: 6px;
}

.input_search input {
    background: none;
    border: none;
}

.search_icons {
    display: flex;
    align-items: center;
}

.search_icons div {
    margin-left: 15px;
}


.search_icons div img {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.text-filter {
    margin-top: 20px;
}

.text-subtitle {
    margin-top: 20px;
    text-align: center;
}

.school-year {
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
}

.school-year div {
    display: flex;
    align-items: center;
}

.school-year .school-year_title {
    width: 59%;
    justify-content: space-between;
}


.school-year_search-icons div {
    margin-right: 22px;
}


.school-year_search-icons div img {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.smiledu-main_body_college-levels {
    margin-top: 33px;
    margin-right: 5px;
    height: 490px;
    overflow-y: scroll;
}

.smiledu-main_body_college-levels::-webkit-scrollbar {
    width: 5px;
}

.smiledu-main_body_college-levels::-webkit-scrollbar-track {
    background-color: #e4e4e4;
    border-radius: 100px;
  }
  
.smiledu-main_body_college-levels::-webkit-scrollbar-thumb {
border-radius: 100px;
background-color: #fcdc27;
}

.card-collage-levels {
    margin: 10px;
    border: 1px solid #dadada;
    border-radius: 13px;
    padding: 18px;
}

.card-collage-levels.showDetails {
    background: white;
    border: none;
    box-shadow: 0 5px 11px -4px rgb(0 0 0 / 18%);
}

.card-collage-levels_title {
    display: flex;
    cursor: pointer;
}

.card-collage-levels_details {    
    overflow: hidden;
    height: 0;
    transition: all 0.25s ease;
}

.card-collage-levels_details.showDetails {
    margin: 20px 15px 10px 15px;
    height: 80px;
}

.card-collage-levels_details_classes {
    display: flex;
    justify-content: space-between;
    margin-top: 17px;
}

.card-collage-levels_details_classes_attended {
    text-decoration: underline;
    color: #00ba42;
}

.student-resume {
    width: 20%;
    border-right: 1px solid #dadada;
}

/* FABS*/

.smiledu-main_body_fabs {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    width: 5%;
    align-items: center;
    padding: 10px;
}

.fab-open {
    display: flex;
    flex-direction: column;
}

.fab {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: none;
    background: #2196f3;
    color: white;
    font-size: 40px;
    box-shadow: 0 7px 14px -6px rgb(0 0 0 / 35%);
    cursor: pointer;
    transition: all 0.35s ease;
}

.fab-open button {
    border-radius: 50%;
    background: white;
    width: 50px;
    height: 50px;
    margin-top: 10px;
    padding: 15px;
    border: none;
    cursor: pointer;
    box-shadow: 0 7px 14px -6px rgb(0 0 0 / 35%);
}

.fab-open img {
    width: 100%;
}

.fab-open {    
    overflow: hidden;
    height: 0px;
    opacity: 0;
    padding-left: 5px;
    padding-right: 5px;
    transition: all 0.35s ease;
}

.fab-open.showFabs {    
    opacity: 1;
    height: 350px;
}

.fab.showFabs {    
    transform: rotate(45deg);
}

.smiledu-main_body_student-content {
    display: flex;
    background: white;
    border-radius: 13px;
    height: 100%;
    width: calc(91% - 20rem);
    box-shadow: 0 6px 16px -4px rgb(0 0 0 / 30%);
    margin-top: -60px;
    margin-right: 17px;
}

.student-resume {
    width: 20%;
    padding: 12px 15px;
}

.student-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.student-profile {
    display: flex;
}

.student-avatar {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.student-avatar img {
    width: 100%;
    border-radius: 50%;
}

.student-firstname {
    font-size: 13px;
}

.student-color-points {
    display: flex;
}

.student-color-points_1 {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    margin-right: 5px;
    background: #46aea3;
}

.student-color-points_2 {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    margin-right: 5px;
    background: #4d5eba;
}

.student-menu {
    width: 22px;
    height: 22px;
    cursor: pointer;
}

.student-menu img {
    width: 100%;
}